:root {
        --ic-brand-primary-darkened-5: #B61621;
--ic-brand-primary-darkened-10: #AC151F;
--ic-brand-primary-darkened-15: #A3141D;
--ic-brand-primary-lightened-5: #C2222D;
--ic-brand-primary-lightened-10: #C52E38;
--ic-brand-primary-lightened-15: #C83943;
--ic-brand-button--primary-bgd-darkened-5: #B61621;
--ic-brand-button--primary-bgd-darkened-15: #A3141D;
--ic-brand-button--secondary-bgd-darkened-5: #4A4A4A;
--ic-brand-button--secondary-bgd-darkened-15: #424242;
--ic-brand-font-color-dark-lightened-15: #47535C;
--ic-brand-font-color-dark-lightened-28: #636D75;
--ic-link-color-darkened-10: #1D348E;
--ic-link-color-lightened-10: #364CA6;
--ic-brand-primary: #bf1722;
--ic-brand-font-color-dark: #273540;
--ic-link-color: #20399d;
--ic-brand-button--primary-bgd: #bf1722;
--ic-brand-button--primary-text: #ffffff;
--ic-brand-button--secondary-bgd: #4d4d4d;
--ic-brand-button--secondary-text: #000000;
--ic-brand-global-nav-bgd: #f2f2f2;
--ic-brand-global-nav-ic-icon-svg-fill: #444444;
--ic-brand-global-nav-ic-icon-svg-fill--active: #bf1722;
--ic-brand-global-nav-menu-item__text-color: #444444;
--ic-brand-global-nav-menu-item__text-color--active: #003366;
--ic-brand-global-nav-avatar-border: #444444;
--ic-brand-global-nav-menu-item__badge-bgd: #bf1722;
--ic-brand-global-nav-menu-item__badge-bgd--active: var(--ic-brand-primary);
--ic-brand-global-nav-menu-item__badge-text: #ffffff;
--ic-brand-global-nav-menu-item__badge-text--active: #ffffff;
--ic-brand-global-nav-logo-bgd: #f2f2f2;
--ic-brand-header-image: url('https://instructure-uploads.s3.amazonaws.com/account_43980000000000001/attachments/338367/iconCanvas.png');
--ic-brand-mobile-global-nav-logo: url('https://instructure-uploads.s3.amazonaws.com/account_43980000000000001/attachments/772646/INST_UStateHorizontalOneLine_AggieBlue.svg');
--ic-brand-watermark: ;
--ic-brand-watermark-opacity: 1;
--ic-brand-favicon: url('https://instructure-uploads.s3.amazonaws.com/account_43980000000000001/attachments/338361/favicon.ico');
--ic-brand-apple-touch-icon: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/apple-touch-icon-585e5d997d.png');
--ic-brand-msapplication-tile-color: #bf1722;
--ic-brand-msapplication-tile-square: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/windows-tile-eda8889e7b.png');
--ic-brand-msapplication-tile-wide: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/windows-tile-wide-44d3cc1060.png');
--ic-brand-right-sidebar-logo: url('https://instructure-uploads.s3.amazonaws.com/account_43980000000000001/attachments/7161/right-side-bar-logo2.png?AWSAccessKeyId=AKIAJFNFXH2V2O7RPCAA&Expires=1924098055&Signature=dnFvWKuCVHrmwU171%2BHPKWZaZ2w%3D&response-cache-control=Cache-Control%3Amax-age%3D473364000%2C%20public&response-expires=473364000');
--ic-brand-Login-body-bgd-color: #ffffff;
--ic-brand-Login-body-bgd-image: ;
--ic-brand-Login-body-bgd-shadow-color: #f2f2f2;
--ic-brand-Login-logo: url('https://instructure-uploads.s3.amazonaws.com/account_43980000000000001/attachments/338368/WAlogo.png');
--ic-brand-Login-Content-bgd-color: #ffffff;
--ic-brand-Login-Content-border-color: #efefef;
--ic-brand-Login-Content-inner-bgd: none;
--ic-brand-Login-Content-inner-border: none;
--ic-brand-Login-Content-inner-body-bgd: none;
--ic-brand-Login-Content-inner-body-border: none;
--ic-brand-Login-Content-label-text-color: #444444;
--ic-brand-Login-Content-password-text-color: #444444;
--ic-brand-Login-footer-link-color: #2773e2;
--ic-brand-Login-footer-link-color-hover: #ffffff;
--ic-brand-Login-instructure-logo: #aaaaaa;
      }