/***** Import styles for specific Extension courses ******************/
@import url(https://elearn.usu.edu/designtools/custom/catalog/extension_default_style.css);

/*********************************************************************/
/***** BEGIN DESIGNPLUS THEME IMPORT & CUSTOMIZATION  ****************/
/*********************************************************************/
/* Import statements need to be at the top of your CSS file */

/*** Legacy Sidebar ***/
/* For Main CSS file */
@import url(https://designtools.ciditools.com/css/themes.css);
/* For Mobile app CSS file */
/*@import url(https://designtools.ciditools.com/css/app.css);*/
/* Institution color customizations */
@import url(https://designtools.ciditools.com/css/inst_theme_overrides.css);

/*** New Sidebar ***/
/* For Main CSS files */
@import url(https://designplus.ciditools.com/css/content.css);
@import url(https://designplus.ciditools.com/css/editor.css);
/* For Mobile app CSS file */
/*@import url(https://designplus.ciditools.com/css/mobile.css);*/

:root {
    --dt-color-primary: #255A8F;
    --dt-color-primary-contrast: #FFFFFF;
    --dt-color-primary-dark-text: #0F2439;
    --dt-color-secondary: #CCCCCC;
    --dt-color-secondary-contrast: #000000;
    --dt-color-secondary-dark-text: #000000;
    --dt-color-accent: #000000;
    --dt-color-accent-contrast: #FFFFFF;
    --dt-color-accent-dark-text: #000000;
    --dt-color-gray: #CCCCCC;
    --dt-color-gray-contrast: #000000;
    --dt-color-gray-dark-text: #636363;
    --dt-color-white: #FFFFFF;
    --dt-color-white-contrast: #000000;
    --dt-color-white-dark-text: #707070;
   
}

/*********************************************************************/
/***** END DESIGNPLUS THEME IMPORT & CUSTOMIZATION   *****************/
/*********************************************************************/

li.fa {
    display: block;
    font-size: 16px;
}

.mceContentBody #kl_score_at_least {
    border: 1px dashed;
    padding: 0 0 0 5px;
    display: inline-block;
    border-radius: 5px;
}

.mceContentBody #kl_score_at_least:after {
    content: 'Must Score';
    font-size: 12px;
    background: #38728f;
    color: #fff;
    padding: 3px;
    border-radius: 5px;
    font-weight: bold;
    margin-left: 5px;
}