.pages.show .page-title {
    color: #1c205b;
	font-weight: 400;
}
div.ic-app-crumbs {
	display: none;
}
div.guide {
	border: solid 1px #000;
	padding: 1em;
}


#kl_modal h2,
.user_content h2,
.user_content .h2,
.mceContentBody h2,
.mceContentBody .h2 {
	font-size: 1.75em;
	line-height: 1.5;
	color: #bf1722;
	margin: .5em 0em .5em 0em;
	border-bottom: 1px solid #bf1722;
}

div.guide h2 {
	border-bottom: none;
}

#kl_modal h3,
.user_content h3,
.user_content .h3,
.mceContentBody h3,
.mceContentBody .h3 {
   	font-size: 1.5em;
	color: #1c205b;
	margin: .5em 0em .5em 1em;
	border-bottom: 1px dotted #1c205b;
}

#kl_modal h4,
.user_content h4,
.user_content .h4,
.mceContentBody h4,
.mceContentBody .h4 {
   	font-size: 1.25em;
	color: #111111;
	margin: .5em 0em .5em 1.25em;
	border-bottom: 1px dashed #ccc;
}

#kl_modal h5,
.user_content h5,
.user_content .h5,
.mceContentBody h5,
.mceContentBody .h5 {
   	font-size: 1em;
   	font-weight: bold;
	color: #bf1722;
	margin: .5em 0em .5em 2em;
}

p {
	margin-left: 0em;
	margin-right: 2em;
}
h3~p, h4~p {
	margin-left: 1.5em;
}
h5~p{
	margin-left: 2em;
}
h3~ul, h3~ol, h4~ul, h4~ol, h5~ul, h5~ol {
	margin-left: 3em;
}

.message img {
	 -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}
img.screen {
	border: 1px solid #CCCCCC;
	border-radius: 4px;
	padding: .5em;
}
img.Word {
	border: 1px solid #2b569a;
	border-radius: 4px;
	padding: .5em;
}
img.PPT {
	border: 1px solid #d24624;
	border-radius: 4px;
	padding: .5em;
}
div.callout {
	border: 1px solid #CCCCCC;
	border-radius: 4px;
	color: #111111;
	font-size: 1.1em;
	font-weight: bold;
	padding: .5em 0 .5em 1em;
	margin: 1.5em 0 1.5em 0;
	min-width: 80%;
	max-width: 95%;
	display: inline-block;
}
span.calloutEmphasis {
	font-weight: normal;
	font-size: 1.05em;
}
div.quesTion {
	background-color: #FFECD5;
}
div.quesTionBullet {
	background-color: #FFECD5;
	padding: .5em 0 .5em 2em;
}
div.note {
	background-color: #F1F5F7;
}
div.important {
	background-color: #fafaae;
}
div.instructions {
	background-color: #FAFFF0;
	font-weight: normal;
	padding: 1.5em 1em 1.5em 1em;
}
img.floatLeft {
	float: left;
	padding-right: .5em;
}
div.callout h3, div.callout h4, div.callout h5 {
	color: #222222;
	font-size: 1.2em;
	font-weight: bold;
}
div.callout p {
	padding-left: 3em;
}

div.callout li p {
	padding-left: 0em;
}
div.callout.instructions img {
	padding: .5em 0 .5em 0;
}
div.callout.instructions h4, div.callout.instructions h4 {
	border-bottom: none;
}

div.calloutNB {
	border: 1px solid #CCCCCC;
	border-radius: 4px;
	color: #111111;
	font-size: 1.1em;
	font-weight: normal;
	padding: .5em 0 .5em 1em;
	margin: 1.5em 0 1.5em 0;
	min-width: 80%;
	max-width: 95%;
	display: inline-block;
}
div.calloutNB h3, div.callout h4, div.callout h5 {
	color: #222222;
	font-size: 1.2em;
	font-weight: normal;
}
div.calloutNB p, div.calloutNB span {
	padding-right: 3em;
}

div.calloutNB li p, div.calloutNB span {
	padding-left: 0em;
}

div.floatLeft~ul, div.floatLeft~ol {
	padding-right: 2em;
	margin: 0 0 0 5em;
}
img.floatLeftBullet {
	float: left;
	padding: 0;
	margin: 0;
}
img.floatRight {
	float: right;
}
div.dashed {
    border-bottom: grey dashed 1px;
    margin: 2em 0 2em 0;
}
table.doc th {
	padding: 30px;
}

.user_content table:not([cellpadding]) td, .mceContentBody table:not([cellpadding]) td {
	padding: 20px;
	vertical-align: top;
}
div.topSpace {
	margin-top: 2em;
}
div.bottomSpace {
	margin-bottom: 2em;
}


